body {
  background-color: rgb(255, 253, 218);
  color: black;
}
ul{
  list-style: none;
}
p{
  font-size: 25px;
  font-style: italic;
}
.title{
  text-align: center;
  font-size: 35px;
}
.flag{
  text-align: center;
  margin-left: 200px;
}
.info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
  font-size: 30px;
}
.container_list{
  display: inline-flex;}
.languages{
  padding: 0;
  list-style: circle;
}